@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Tajawal:wght@400;500;700;800&display=swap');

body {
  font-family: 'Nunito', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(utils/img/Back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background:-webkit-linear-gradient(64deg, rgba(4,12,51,1) 0.14%, rgba(5,70,168,1) 99.61% ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  color:white !important;
display: flex;
flex-direction: row;
justify-content: space-between;
  text-align: center;
  padding: 0% !important;
  margin: 0% !important;
  align-items: baseline;

}
.app-name{
    }
    .app-name img{
    max-width:100%;
    }

  .navbar-brand .date{
    /* width: 70%; */
    /* font-size: 14px; */
    
  }
  .margin-r-15{
    margin-right: -15%;
  }
.App {
  border: 1px solid rgb(167, 182, 231);
  border-radius: 20px;
  overflow: hidden;
  margin: 1%;
  box-shadow:0 5px 50px 2px rgb(96, 111, 161);
  padding: 1%;
  /* height: 98vh; */
  /* -webkit-box-shadow: 0 10px 50px px rgba(12,12,12,12); */
}
.header-font{
  font-size: 16px;
}
.title-font{
  font-size: 14px;
}
.forecast-days{
  background-color: rgba(250, 250, 250, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin: .075% 0;
  /* height: 10vh; */
}
.font-size-12{
font-size: 15px;
}
.font-size-12 img{
/* width: 10%; */
}
.week-days{
  align-items: start;
  padding:0 30px;
}
.forecast-days .title{
  color: white;
}
.forecast-days .subtitle{
  color: rgba(255, 255, 255, 0.7) ;
}

.search-city-content , .weather-content{
  background-color: rgba(250, 250, 250, 0.2) ;
 /* margin-right: 5px; */

}
.hourly-cart{
  background-color: rgba(250, 250, 250, 0.1) ;
  border-radius: 10px;
}
.air-condition-icon{
  width: 10%;
}
.header{
  color: rgba(198, 198, 201, 0.7) ;
}
.value{
  font-size: 13px;
}
.h-title{
  font-size: 14px;
}
.app-header{
  color: rgba(212, 230, 245, 0.9) ;
  font-size: 16px !important;
}
.title{
  color: white;
}
.subheader{
  color:rgb(106, 211, 253)
}
.my-btn {
  background-color: black;
  color: white;
  border: none;
}

input.form-control:focus{
    outline: none;
    border: 1px solid black;
    box-shadow: none;
}



.map-container {
  height: 400px;
  width: 100%;

}